.container-fluid {
    background-color: rgb(221, 159, 12);
    border: 2px solid rgb(0, 191, 255);


    .navbar-brand {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 2rem;
    }

}